* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Handjet", sans-serif;
  background: white;
}

header {
  background: #A5A5A5;
  height: 54.2px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
}

img.buttons, img.divider, img.tabIcons {
  display: block;
}

img.tabIcons {
    margin-left: auto;
}

.top {
  display: flex;
  padding: 20px;
  background: white;
}

.right {
  padding: 10px;
  background: white;
  height: 710px;
  width: 50%;
  display: flex;
    justify-content: center;
}

img.notepad {
    width: 670px;
    height: 640px;
}

.whoamiTitle, .whoamiText {
  position: absolute;
}

.whoamiTitle {
  top: 146px;
  left: 855px;
}

.whoamiText {
  top: 245px;
  left: 855px;
}

.left {
  border-right: none;
  padding: 10px;
  background: white;
  height: 710px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.joy {
    width: 370px;
    height: 405px;
}

h1 {
   font-family: "Handjet", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

p{
  font-family: "Inria Serif", serif;
  font-size: 23px;
  margin: 0;
}

.bottom {
    margin: 20px;
    padding: 10px;
    background: white;
    height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerHistory {
    display: flex;
    align-items: center;
    gap: 20px;
}

.school {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: "Inria Serif", serif;
}

.school h2{
    font-size: 26px;
}

.school h3{
    font-size: 26px;
}

.projecten {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-family: "Inria Serif", serif;
}

.school h4, .projecten h4, .projecten li{
    font-size: 22px;
    font-weight: 100;
}
  
footer {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.portfolioHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.blurb p {
    text-align: center;
    padding: 5px;
}

.projectCollage {
  width: 830;
  height: 770px;
  background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projectShowcase {
  position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projectShowcase p {
  line-height: 2;
  font-size: 19px;
}

.demoVideo {
  top: 0px;
}

.projectThumbnail {
  width: 490px;
  height: 300px;
}

.dominosThumbnail {
  width: 390px;
  height: 300px;
}
